.github
{
    background-color: rgb(46,164,79);
    border: none;
    border-radius: 4px;
    height: 40px;
    width:100px;
    cursor: pointer;
}
.github:hover
{
    box-shadow: 0px 5px 7px rgba(0,0,0,0.15);
}